<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Choose best</h1>
		<div class="content">
			<div class="row-fluid">
				<div class="span6 well imageContainer">
					<div class="row-fluid">
						<img src="<%= images[0].url %>" />
						<button class="btn vote btn-success" vote-id="<%= images[0]._id %>">Vote</button>
					</div>
				</div>
				<div class="span6 well imageContainer">
					<div class="row-fluid">
						<img src="<%= images[1].url %>" />
						<button class="btn vote btn-success" vote-id="<%= images[1]._id %>">Vote</button>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<button class="btn btn-info" id="skip">Skip</button>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('.vote').on('click', function(event) {
					var voteId = $(event.target).attr('vote-id');
					$.post('/api/vote', 
						{
							albumId: '<%= images[0].albumId %>',
							photos: ['<%= images[0]._id %>', '<%= images[1]._id %>'],
							voted: voteId
						}, 
						function() {
							location.reload();
						}
					);
				});
				$('#skip').on('click', function(event) {
					location.reload();
				});
			});
		</script>
	</body>
</html>